<app-header></app-header>

<div fxLayout="row wrap">

  <div *ngFor="let item of items" fxFlex="0 0 100%" [ngStyle.gt-sm]="{'margin.px': 6}"
    [ngStyle]="{'margin.px': 6, 'margin-bottom.px': 20} " fxFlex.gt-sm="0 0 calc(33% -12px)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{item.title | slice:0:20}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="item.image" alt="Photo of a item">
      <mat-card-content>
        <p>
          {{ item.description | slice:0:100 }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>


<!-- 
  {{item.title }}<br>
  {{item.image }}<br>
  {{item.description }} -->