/* You can add global styles to this file, and also import other style files */
@import url('~bootstrap/dist/css/bootstrap.min.css');
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$mat-card-header-size: 40px !default;
.mat-card-avatar {
    height: $mat-card-header-size;
    width: $mat-card-header-size;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    background: #000;
}
.full-width,
.material-input-full-width {
    width: 100%;
}